@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body{
    background-image: url("https://www.xtrafondos.com/wallpapers/resized/textura-de-pasto-2946.jpg?s=large");
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.cartasTiradas {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.cartasJugador{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.divBtn {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

img{
    height: 150px;
    border: 3px solid wheat;
    border-radius: 5px;
}


@media (min-width: 768px) {
    img{
        height: 250px;
    }
}